*{margin:0; padding:0;}

div.wrapper{
	width:960px;
	margin:0 auto;
	margin-top:20px;
}

img{
	width:225px;
	height:200px;
	border-radius:10px;
}

div.style1{
	width:225px;
	float:left;
	margin-right:20px;
}
p{
	text-align:justify;
	font-family:arial;
}

div.style2{
	margin-right:0px;

}
h2{
	background-color:#129EAF;
	color:red;
	text-align:center;
	margin-top:5px;
}
a{
	text-decoration:none;
	background-color:#C8C7C6;
	color:red;
	display:block;
	text-align:center;
	transition:all 1s;
	margin-top:8px;
	padding:7px 3px;
}
a:hover{
	background-color:#011E29;
	color:white;
}
