body{
	background-color:#d3eff5;
}

*{margin:0; padding:0;}
#wrapper{
	padding:0px;
	width:960px;
	list-style-type:none;
	background:#07e6cc;
	border-bottom:2px solid blue;
	height:38px;
	margin:10px auto;

	
}

#wrapper li{
	float:left;
	border-right:2 solid #aaf2ea;
	border-left:2px solid #99fff3;
	background-color:#07e6cc;
	position:relative;
}
#wrapper li:last-child{
	border-right:none;
}
#wrapper li:first-child{
	border-left:none;
	
}

#wrapper li a{
	color:white;
	text-decoration:none;
	background-color:#07e6cc;
	color:white;
	padding:10px 20px;
	display:block;
	transition:0.5s;
}

#wrapper li a:hover{
	background-color:#D9D9D9;
	color:black;
	
}
#wrapper li ul{
	list-style-type:none;
	padding:0;
	position:absolute;
	left:-99999;	
}
#wrapper li:hover ul{
	left:0;
  }


#wrapper li ul li{
	float:none;
	border-right:none;
	border-left:none;
	border-top:2 solid #76f5e6;
	border-bottom:2px solid #99fff3;
	width:150px;
	position:relative;
}

#wrapper li ul li ul{
	position:absolute;
	top:-99999;
}
#wrapper li ul li:hover ul{
	top:0;
	left:150px;
	
}






div.wrapper2{
	
	width:960px;
	margin:0 auto;
	margin-top:20px;
}

img{
	width:225px;
	height:200px;
	border-radius:10px;
}

div.style1{
	width:225px;
	float:left;
	margin-right:20px;
}
p{
	
	text-align:justify;
	font-family:arial;
}

div.style2{
	margin-right:0px;

}
h2{
	background-color:#129EAF;
	color:yellow;
	text-align:center;
	margin-top:5px;
}
.style1 a{
	text-decoration:none;
	background-color:#C8C7C6;
	color:red;
	display:block;
	text-align:center;
	transition:all 1s;
	margin-top:8px;
	padding:7px 3px;
}
a:hover{
	background-color:#011E29;
	color:white;
}
